<?xml version="1.0" encoding="utf-8"?>
 <!--
  This file is part of Wake Me At. Wake Me At is the legal property of
  its developer, Henry Bush (spookypeanut). Wake Me At is free software:
  you can redistribute it and/or modify it under the terms of the GNU
  General Public License as published by the Free Software Foundation,
  either version 3 of the License, or (at your option) any later
  version. Wake Me At is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  General Public License for more details. You should have received a
  copy of the GNU General Public License along with Wake Me At, in the
  file "COPYING". If not, see <http://www.gnu.org/licenses/>.
 -->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.spookypeanut.wake_me_at"
    android:versionCode="1"
    android:versionName="1.0">

<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

<application
    android:icon="@drawable/x"
    android:label="@string/app_name"
    android:debuggable="true"
    android:theme="@style/MainStyle">

<uses-library android:name="com.google.android.maps" />

<activity android:label="@string/app_name" android:name="WakeMeAt">
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
</activity>

<service
    android:name="WakeMeAtService"
    android:label="WMAS"
    android:icon="@drawable/icon"
    android:permission="android.permission.ACCESS_FINE_LOCATION" />
    
<activity
    android:icon="@drawable/x"
    android:name="GetLocationMap"
    android:label="@string/map_name">
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <action android:name="android.intent.action.PICK" />
        <action android:name="android.intent.action.VIEW" />
        <action android:name="android.intent.action.EDIT" />
        <action android:name="android.intent.action.SEARCH" />
        <category android:name="android.intent.category.DEFAULT" />
    </intent-filter>
    <meta-data android:name="android.app.searchable"
               android:resource="@xml/searchable"/>
</activity>

<activity android:name="EditLocation">
 </activity>
</application>

</manifest>